

 html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
  font-family: system-ui, serif;
}

.hidden {
  display: none;
}

ul, li {
  list-style: none;
}

body{
  display: grid;
  place-items: center;
  background: dimgray;
  width: 100vw;
  height: 100vh;
  resize: both;
  overflow: auto;
}

.child {
  padding: 2vw 5vh;
  border-radius: 1rem;
  border: 1px solid slategray;
  background: darkgray;
  font-size: 2rem;
  text-align: justify;
}

.flexdaddy{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.flexkid{
  flex: 1;
}

.flexkiddouble{
  flex:2;
}

h1 {
  font-size: 10vw;
}

select {
  border-radius: 3vw;
  width: 100%;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

button {
  align-self: right;
  font: bold;
  color: black;
  font-size: 3vh;
  width: 100%;
  height: 5vh;
  border-radius: 3vw;
}

a{
  color: white;
}

form {
 width: 100%;
}
