
.Accordion button::-moz-focus-inner {
    border: 0;
  }

  .Accordion-title {
    display: block;
    pointer-events: none;
    border: transparent 2px solid;
    border-radius: 5px;
    padding: 0.25em;
    outline: none;
  }

  .Accordion-trigger:focus .Accordion-title {
    border-color: hsl(216, 94%, 73%);
  }

  .Accordion-icon {
    border: solid hsl(0, 0%, 62%);
    border-width: 0 2px 2px 0;
    height: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-60%) rotate(45deg);
    width: 0.5rem;
  }

  .Accordion-trigger:focus .Accordion-icon,
  .Accordion-trigger:hover .Accordion-icon {
    border-color: hsl(216, 94%, 73%);
  }

  .Accordion-trigger[aria-expanded="true"] .Accordion-icon {
    transform: translateY(-50%) rotate(-135deg);
  }

  .Accordion-panel {
    margin: 0;
    padding: 1em 1.5em;
  }

  /* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
  .Accordion-panel[hidden] {
    display: none;
  }

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  input {
    border: 1px solid hsl(0, 0%, 62%);
    border-radius: 0.3em;
    display: block;
    font-size: inherit;
    padding: 0.3em 0.5em;
  }

body {
    margin: 0;
    padding: 0;
}
.main_heading, .board {
    width: 98%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
}
.main_heading {
    height: 7em;
    background: #939393;
}
.board {
    background: #e8e8e8;
    height: 71em;
    display: flex;
    flex-direction: row;
}
.board_column  {
    width: 33%;
    margin-top: 0.5em;
    margin-left: .5em;
    margin-right: .5em;
    background: #cfcfcf;
    height: 70.5em;
    display: flex;
    flex-direction: column;
}
.board_column_header {
    width: 100%;
    background: #939393;
    height: 4em;
}
.board_column_body {
    width: 100%;
    height: 66.5em;
    background: #eee;
}
.board_column_body_note {
    width: 75%;
    height: 13em;
    background: #cfcfcf;  /*#f6666 cfcfcf */
    margin: 1em auto;
}
@media all and (max-width: 640px) {
    .board {
        flex-direction: column;
    }
    .board_column {
        width: 98%;
        height: 40em;
        margin-top: .5em;
        margin-left: auto;
        margin-right: auto;
    }
    .board_column_body_note {
    width: 85%;
    height: 6em;
    }
}
@media all and (max-width: 320px) {
    .board_column {
        margin-left: auto;
        margin-right: auto;
    }
    .board_column_header {
        height: 8em;
    }
    .board_column_body_note {
        width: 98%;
    }
}
